@import "tailwindcss";

body{
    /* @apply bg-gray-50; */
    background-color: #F9FAFB !important;

}

.title{
    font-family: playwrite gb j guides, cursive;
     font-weight: 400;
     font-style: normal;
     font-size: 2rem;
     /* font-weight: bold; */
     font-style: italic;
     margin-bottom:0px;
     color: #2563eb;
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  color: #2563eb; /* Tailwind blue-600 */
  text-decoration: none;
  font-weight: 500;

  transition: color 0.2s ease;
}

.back-link:hover {
  text-decoration: underline;
}
