.product-form-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f8fafc;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product-form-container h2 {
  margin-bottom: 1rem;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.product-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.product-form input,
.product-form textarea,
.product-form select {
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
}

.submit-btn {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn:disabled {
  background-color: #94a3b8; /* gray */
  cursor: not-allowed;
  opacity: 0.7;
}

.submit-btn:hover {
  opacity: 0.9;
}

.back-link {
display: inline-block;
  text-decoration: none; 
   /* color: inherit; */
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* font-style: normal; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:15px
}